<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
        <title>Document</title>
</head>

<body>
        <div class="uploader">
                <h2>Drop Your Files Here</h2>
                <form action="/upload" method="POST" enctype=multipart/form-data>
                        <input type="file" name="uploaded" id="upload" />
                        <button class="upload-btn" id="upload-btn">Upload</button>
                </form>
                <p id="file-name"></p>
        </div>
        <div class="table">
                <h1>display data</h1>
                <div class="container">
                        {{ value |safe }}
                </div>
        </div>
</body>

</html>